* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: #FFF;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	margin: 0;
	width: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -100px;
}

a {
	text-decoration: none;
}

header {
	background-color: #222;
	width: 100%;
}

nav {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

nav a {
	color: #FFF;
	font-weight: 400;
	font-size: 1.5em;
	height: 90px;
	line-height: 90px;
	margin: 0 5%;
	text-align: center;
	text-transform: uppercase;
	transition: color 0.3s ease;
}

nav a:hover, .connect a:hover {
	color: #fccf2d;
}

.active {
	display: block;
	font-weight: 700;
}

#slide-down {
	display: none;
	height: 600px;
	overflow: hidden;
}

.cover {	
	background: url('http://clarepolitano.com/img/woods-holl.jpg');
	background-size: cover;
	border-bottom: solid 10px #fccf2d;
	color: #222;
	height: 600px;
	margin: 0;
	position: absolute;
	top: 90px;
	width: 100%;
}

#intro {
	text-align: left;
}

#intro h1 {
	font-size: 2em;
	font-weight: 400;
	height: 100px;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 50px 0 25px 5%;
}

#intro p {
	float: left;
	font-size: 1.25em;
	font-weight: 400;
	margin-top: 10px;
	padding: 20px 20px 20px 5%;
	width: 50%;
}

#intro h1, #intro p {
	background-color: rgba(255,255,255,.75);
}

#headshot {
	float: right;
	padding: 40px 50px 0 25px;
}

ul {
	list-style-type: none;
}

h1, h2, h3, nav a {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}


h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: -10px;
}

h3 {
	display: inline;
}

.content {
	background-color: rgba(255,255,255,.75);
	padding: 3% 20%;
	width: 100%;
}

.push {
	height: 100px;
}

.push, .connect {
	background-color: #222;
}

.connect {
	color: #FFF;
	position: absolute;
	bottom: 0;
	line-height: 75px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.connect a {
	color: #FFF;
}

.content {
	color: #222;
	margin: 0 auto;
}

.content a {
	color: #222;
}

a:hover {
	text-decoration: none;
}


@media all and (max-width:600px) { 
	#intro h1, nav a {
		font-size: 1.75em;
	}

	nav {
		height: 300px;
		line-height: 1.5em;
		width: 100%;
	}

	.cover {
		top: 300px;
	}

	nav a {
		display:block;
		margin: 0 auto;
	}

	#intro p {
		width: 100%;
	}

	#intro p, .content h2, .connect {
		font-size: 1.5em;
	}

	.content {
		padding: 3%;
	}

	.content p {
		font-size: 1em;
	}

	.connect {
		background: none;
		line-height: 1.5em;
		top: 700px;
	}

}



