* {
	box-sizing: border-box;
}

body
{
	background: #FFF;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	margin: 0;
	width: 100%;
}

a {
	font-weight: 700;
	transition: font-weight 1s ease;
}

.nav {
	height: 60px;
	padding-left: 5%;
	text-transform: uppercase;
}

.nav ul li
{
	display: inline;
	font-size: 1.25em;
	line-height: 60px;
	list-style-type: none;
	margin-right: 5%;
	margin-top: 5%;
}

.nav a {
	font-weight: 400;
}

.active {
	display: block;
	font-weight: 700;
}

#slide-down {
	display: none;
	height: 500px;
	overflow: hidden;
}

.cover
{	
	background-image:url('http://clarepolitano.com/img/bright-field.jpg');
	background-size: cover;
	border-bottom: solid 10px rgb(112,128,154);
	color: #222;
	height: 600px;
	margin: 0;
	position: absolute;
	top: 90px;
	width: 100%;
}

#intro h1 {
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 0;
	padding-bottom: 25px;
	padding-top: 50px;
	text-align: right;
}

#intro p {
	float:right;
	font-size: 1.25em;
	font-weight: 400;
	margin-top: 10px;
	padding: 20px;
	text-align: right;
	width: 40%;
}

#intro h1, #intro p {
	background-color: rgba(255,255,255,.4);
}

#headshot {
	float: right;
	width: 30%;
}

#headshot img {
	float: left;
	padding: 40px 50px 0 25px;
}

ul {
	list-style-type: none;
}

h1, h2, h3, .nav {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}


h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: -10px;
}

h3 {
	display: inline;
}

.content {
	background-color: rgba(255,255,255,.6);
	padding: 3% 20%;
	width: 100%;
}

.connect {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.content, .connect {
	color: #222;
	margin: 0 auto;
}

.content a, .connect a, .nav a {
	color: #222;
	text-decoration: none;
}

a:hover {
	/*font-weight: 700;*/
	text-decoration: none;
}


@media screen (max-width: 500px) { 
.container {
	margin: 0 auto;
	width: 90%;}
.cover h1 {font-size: 24px;}
.cover p {font-size: 18px;}
.content h2 {font-size: 18px;}
.content p {font-size: 16px;}
.content {
	margin: 0 auto;
	width: 90%;
}
.nav li {font-size: 16px;}

}


