* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: #222;
	font-family: 'Merriweather', serif;
	font-size: 1em;
	margin: 0;
	width: 100%;
}

.wrapper {
	background: url('http://clarepolitano.com/img/woods-holl-portrait.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	margin: 0 auto;
}

.cover {	
	background: rgba(0,0,0,0.0);
	color: #222;
	height: 600px;
	position: absolute;
	top: 100px;
	width: 100%;
}

#intro {
	text-align: left;
}

#intro h1 {
	font-size: 2em;
	font-weight: 400;
	height: 100px;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 50px 0 25px 5%;
}

#intro p {
	float: left;
	font-size: 1.5em;
	font-weight: 400;
	margin-top: 10px;
	padding: 20px 20px 20px 5%;
	width: 50%;
}

#intro h1, #intro p {
	background-color: rgba(255,255,255,.8);
}

ul {
	list-style-type: none;
}

h1, h2, h3 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}


h2 {
	font-size: 1.5em;
	font-weight: 400;
}

h3 {
	margin: 0;
}

.about {
	padding: 25px 25%;
}

.about, .experience, .connect {
	background-color: #222;
	color: #FFF;
	font-size: 1.5em;
	width: 100%;
}

.experience {
	padding: 25px 15%;
}

.experience p {
	text-align: center;
}

a {
	color: #E80C7A;
}

.experience li {
	margin-bottom: 20px;
}

.sluice {
	background: url('http://clarepolitano.com/img/sluice-app.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 600px;
}

.connect {
	background-color: #444;
	color: #FFF;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

a:hover {
	text-decoration: none;
}


@media all and (max-width:600px) { 
	#intro h1, nav a {
		font-size: 1.75em;
	}

	.experience, .about {
		padding: 20px 4%;
	}

/*	nav {
		height: 300px;
		line-height: 1.5em;
		width: 100%;
	}

	nav a {
		display:block;
		margin: 0 auto;
	}*/

	#intro p {
		width: 100%;
	}

	#intro p, .content h2, .connect {
		font-size: 1.5em;
	}

}



